{% extends 'layouts.website' %}

{% import 'macros.forms' as forms %}

{% set errors = errors.messages %}

{% block content %}
	<form role="form" method="post" action="" class="register" data-ref="register">
		<h1 class="register__heading">Register</h1>

		{{ csrf_field() }}

		{{ forms.input({
			infieldLabel: true,
			id: 'email',
			name: 'email',
			label: 'email',
			value: old('email'),
			errors: errors
		}) }}

		{{ forms.input({
			infieldLabel: true,
			id: 'first_name',
			name: 'first_name',
			label: 'first name',
			value: old('first_name'),
			errors: errors
		}) }}

		{{ forms.input({
			infieldLabel: true,
			id: 'last_name',
			name: 'last_name',
			label: 'last name',
			value: old('last_name'),
			errors: errors
		}) }}

		{{ forms.input({
			infieldLabel: true,
			id: 'account',
			name: 'account',
			label: 'account',
			value: old('account'),
			errors: errors
		}) }}

		{{ forms.input({
			infieldLabel: true,
			id: 'password',
			type: 'password',
			name: 'password',
			label: 'password',
			errors: errors
		}) }}

		{{ forms.input({
			infieldLabel: true,
			id: 'password_confirmation',
			type: 'password',
			name: 'password_confirmation',
			label: 'password confirmation',
			errors: errors
		}) }}

		{{ forms.button({
			type: 'submit',
			label: 'Register',
			classes: 'button button-colored login__button'
		}) }}

		<footer class="register__footer">
			<p class="register__footer-policies">
				By registering you agree to the <a href="/terms-of-service">Terms of Service</a> and <a href="privacy-policty">Privacy Policy</a>.
			</p>
		</footer>
	</form>
{% endblock %}