<label>{{ data.name }}</label>

<input type="hidden" name="field[{{ data.id }}][type_id]" value="{{ data.fieldType.id }}">
<label>Link</label>
<input type="text" name="field[{{ data.id }}][link_href]">
<label>Label</label>
<input type="text" name="field[{{ data.id }}][link_label]">